{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="article-entry">
        <h2>{{ object.title }}</h2>
        <p>
            by {{ object.author }} | {{ object.date }}
        </p>
        <p>
            {{ object.body }}
        </p>
    </div>

    <div class="card-footer text-muted">
        <div class="text-center">
            {% if user.is_authenticated %}
                {% ifequal user.username object.author|stringformat:"s" %}
                    <a href="{% url 'article_edit' article.pk %}">Edit</a> |
                    <a href="{% url 'article_delete' article.pk %}">Delete</a>

                {% else %}
                    {% if user.is_superuser %}
                        <a href="{% url 'article_edit' article.pk %}">Edit</a> |
                        <a href="{% url 'article_delete' article.pk %}">Delete</a>
                    {% endif %}
                {% endifequal %}
            {% endif %}
        </div>

        {% for comment in article.comments.all %}
            <p>
                <span class="font-weight-bold">
                    {{ comment.author }} :
                </span>
                {{ comment }}
                <hr>
            </p>
        {% endfor %}
    </div>
    <p>
        Back to <a href="{% url 'article_list' %}">All Articles</a>.
    </p>
{% endblock content %}